@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #fafbfd;
}

#root {
  width: 100%;
  min-height: 100vh;
  background-color: #fcfcfc;
  overflow: hidden;
}

@media (max-width: 639px) {
  #root {
    max-width: 100%;
    margin: 0;
    box-shadow: none;
    border-radius: 0;
  }
}

@media (min-width: 640px) {
  #root {
    max-width: 375px;
    margin: 0 auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
}
