@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #fafbfd; /* Reverted to light gray background */
}

#root {
  max-width: 375px; /* Typical iPhone width */
  margin: 0 auto; /* Center horizontally */
  width: 100%;
  min-height: 100vh;
  background-color: #fcfcfc; /* Updated mobile app screen background */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Subtle shadow for device frame */
  border-radius: 10px; /* Rounded corners for the app frame */
  overflow: hidden; /* Hide overflow content */
}
